<p-menubar>
  <ng-template pTemplate="start">
    <a routerLink="/">
      <img src="assets/images/logo.png" alt="stoXevo" class="hidden md:block" />
      <img
        src="assets/images/logo-simple.png"
        alt="stoXevo"
        class="block md:hidden mr-2"
      />
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex justify-content-end align-content-center gap-2">
      <div class="w-full flex align-items-center">
        <ng-content select="symbol-search"></ng-content>
      </div>

      <ng-content select="menu"></ng-content>
    </div>
  </ng-template>
</p-menubar>
