<div class="header grid grid-cols-12 gap-4 mb-3 md:mb-8">
  <div class="col flex items-center">
    <h1>About</h1>
  </div>
  <div class="col flex items-center justify-end"></div>
</div>

<div class="grid grid-cols-12 gap-4">
  <div class="col-span-12">
    <p>
      Welcome to <b class="text-primary">stoXevo</b>, a simple financial asset
      manager. This is a personal open-source project designed to help you
      easily manage and track your financial assets, such as Stocks and ETFs.
    </p>
    <p>
      This web app was created with privacy and simplicity in mind. All your
      data is securely stored locally in your browser, ensuring that only you
      have access to your financial information.
    </p>
    <p>
      Whether you're an experienced investor or just getting started, this tool
      provides a straightforward and easy way to monitor your portfolio. With
      real market updates and a user-friendly interface, you can stay on top of
      your investments without the need for complex software or cloud storage.
    </p>

    <!-- Buy Me a Coffee Link -->
    <h4 class="mt-8">
      If you find this free and open-source financial asset manager helpful,
      consider buying me a coffee. <br />
      Your support keeps the project alive and growing.
    </h4>

    <a href="https://www.buymeacoffee.com/monsieur.ricky" target="_blank">
      <img
        src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
        alt="Buy Me A Coffee"
        style="height: 60px !important; width: 217px !important"
      />
    </a>
    <!-- /Buy Me a Coffee Link -->

    <h5 class="mt-8">
      Thank you for using stoXevo <span class="pi pi-heart-fill"></span>
    </h5>
  </div>
</div>
