@use 'mixins' as mixin;

.p-menubar {
  padding: 0.45rem 0.8rem;
  background: #ffffff;
  border: none;

  @include mixin.main-shadow;

  .p-menubar-end {
    width: 900px;
  }
}
.p-sidebar {
  .p-menu {
    width: 100%;
    margin-top: 1.5rem;
    padding: 0;
    box-shadow: none;
    border: none;

    .p-menuitem {
      margin: 0;
    }
  }
}
