@use 'mixins' as mixins;
@use 'variables' as var;

.widget {
  padding: 1rem;
  border-radius: var(--p-button-border-radius);
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1,
  h5 {
    color: var(--widget-text-color);
    margin: 0;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
  }

  h5 {
    font-size: 0.85rem;
  }

  @include mixins.main-shadow;

  &--small {
    h1 {
      font-size: 1.8rem;
    }
  }

  &--light {
    background: var(--p-gray-400);

    h1,
    h5 {
      color: #fff;
    }
  }

  @media screen and (max-width: #{var.$sm}) {
    h5 {
      font-size: 0.8rem;
    }
    h1 {
      font-size: 1.8rem;
    }
  }
}
