@use 'variables' as var;
@use 'mixins';
@use 'typography';
@use 'input-group';
@use 'datepicker';
@use 'select';
@use 'input-number';
@use 'widget';
@use 'drawer';
@use 'progress-spinner';

*:focus {
  outline: none;
  box-shadow: none;
}

input:disabled {
  cursor: not-allowed;
}

html,
body {
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-size: 14px;
}

body {
  background: var(--bg-color);
  height: calc(100vh - 55px);

  padding: var(--main-spacing);
  margin: var(--main-spacing);

  @media screen and (max-width: #{var.$sm}) {
    margin: 0;
    padding: 0;
  }
}

.content {
  display: flex;
  width: 100%;
  height: calc(100vh - 145px);
  margin-top: var(--main-spacing);

  aside {
    margin: var(--main-spacing) var(--main-spacing) 0 0;
  }

  main {
    flex: 1;
    padding: 2rem;
    margin: var(--main-spacing) 0 0 var(--main-spacing);
    border-radius: var(--p-button-border-radius);
    overflow: auto;
    background: var(--main-bg-color);

    @include mixins.main-shadow;

    &:has(.dashboard) {
      padding: var(--main-spacing);
      background: none;
      box-shadow: none;
      margin: 0;
    }
  }

  @media screen and (max-width: #{var.$sm}) {
    height: calc(100vh - 100px);

    main {
      padding: 0 var(--main-spacing) 0 var(--main-spacing);
      background: none;
      box-shadow: none;
      margin: 0;

      &:has(.dashboard) {
        padding: 0 var(--main-spacing) 0 var(--main-spacing);
      }
    }
  }
}

footer {
  text-align: center;
  margin: 15px 0 0 0;
  color: var(--p-gray-400);

  > span {
    &:not(:last-of-type) {
      &::after {
        content: '•';
        margin: 0 5px;
      }
    }

    span {
      margin-right: 5px;
    }

    a {
      color: var(--p-gray-400);
      font-weight: 700;
      text-decoration: none;
    }
  }

  @media screen and (max-width: #{var.$sm}) {
    margin: 7px 0 0 0;
  }
}

main {
  [class*='header'] {
    h1,
    h2,
    h3 {
      margin: 0;
    }
  }
}

* {
  scrollbar-color: var(--scrollbar-color) transparent;
}
