@use 'mixins' as mixin;

:host {
  ::ng-deep {
    .p-menu {
      width: 15rem;
      padding: 0.8rem;
      border: none;

      @include mixin.main-shadow;

      .p-menuitem {
        margin: var(--main-spacing);
        font-size: 1.1rem;

        .p-menuitem-content {
          border-radius: var(--border-radius);
          transition: all 0.3s ease-in-out;

          .p-menuitem-link {
            border-radius: var(--border-radius);
            transition: all 0.3s ease-in-out;

            &.p-menuitem-link-active {
              background-color: var(--primary-color);

              .p-menuitem-text,
              .p-menuitem-icon {
                color: #ffffff;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}
