@if (isMobile()) {
  <p-drawer
    position="right"
    styleClass="!w-72"
    [(visible)]="visible"
    (visibleChange)="onVisibleChange($event)"
  >
    <ng-template pTemplate="header">
      <h2 class="m-0">Menu</h2>
    </ng-template>

    <p-menu styleClass="mobile-menu" [model]="items" />

    <div class="absolute bottom-0 ml-2">
      <ng-content select="bottom-menu"></ng-content>
    </div>
  </p-drawer>
} @else {
  <aside class="hidden md:block">
    <p-menu [model]="items" />
  </aside>
}
