@use 'mixins' as mixin;

@mixin main-navigation {
  width: 10rem;
  padding: 1rem 0.4rem;
  background: var(--p-menubar-background);
  border: none;

  @include mixin.main-shadow;

  .p-menu-item {
    margin: 0.2rem var(--main-spacing);

    .p-menu-item-content {
      border-radius: var(--p-button-border-radius);
      transition: all 0.3s ease-in-out;

      .p-menu-item-link {
        border-radius: var(--p-button-border-radius);
        transition: all 0.3s ease-in-out;

        &.p-menu-item-link-active {
          --p-menu-item-icon-focus-color: var(--active-menu-color);
          background-color: var(--p-primary-color);

          .p-menu-item-label,
          .p-menu-item-icon {
            color: var(--active-menu-color);
            font-weight: 700;
          }
        }
      }
    }
  }
}

:host {
  ::ng-deep {
    aside .p-menu {
      @include main-navigation;
    }
  }
}

::ng-deep .p-drawer .mobile-menu {
  @include main-navigation;

  width: 100%;
  margin-top: 1.5rem;
  padding: 0;
  box-shadow: none;
  background: transparent;

  .p-menu-item {
    margin: 0;
  }
}
