@use 'variables' as var;

:host {
  .table-container {
    height: calc(100vh - (200px + 87px));

    ::ng-deep {
      .p-datatable {
        &-scrollable {
          .p-datatable-frozen-column {
            position: sticky;
            background: var(--p-datatable-header-cell-background);
          }
        }

        &-tbody {
          td {
            padding: 0.15rem 1rem;
          }

          tr:hover {
            td {
              background: var(--table-row-highlight);
            }
          }
        }

        &-tfoot {
          position: sticky;
          bottom: 0;
          z-index: 1;

          td {
            font-weight: 700;
          }
        }
      }
    }

    @media screen and (max-width: #{var.$sm}) {
      height: calc(100vh - (100px + 50px));
      border-radius: var(--p-button-border-radius);
    }
  }
}
