@if (loading()) {
  <p-progressSpinner ariaLabel="loading" strokeWidth="4" />
}

<div class="header grid grid-cols-12 mb-3 md:mb-8">
  <div class="col-span-6 md:col flex items-center">
    <h1>Portfolio</h1>
  </div>
  <div class="col-span-6 md:col flex items-center justify-end">
    <p-button
      severity="info"
      icon="pi pi-sync"
      class="mr-4"
      [label]="isMobile() ? undefined : 'Update'"
      [disabled]="!isApiKeySet() || !isOnline()"
      [loading]="loading()"
      (onClick)="onGetQuotes()"
    />
    <p-button
      icon="pi pi-plus-circle"
      [label]="isMobile() ? undefined : 'Add New Asset'"
      (onClick)="onAddAsset()"
    />
  </div>
</div>

<div class="table-container">
  <p-table
    scrollHeight="flex"
    styleClass="p-datatable-sm"
    stripedRows
    [value]="portfolio()"
    [tableStyle]="{ 'min-width': '10rem' }"
    [scrollable]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pFrozenColumn>Symbol</th>
        <th>Type</th>
        <th class="min-w-80">Name</th>
        <th class="min-w-32">Purchase Date</th>
        <th>Qty</th>
        <th>Purchase Price</th>
        <th>Total Investment</th>
        <th>Current Value</th>
        <th>Total Value</th>
        <th class="min-w-40">Value Difference</th>
        <th>Percentage Difference</th>
        <th class="actions" pFrozenColumn alignFrozen="right"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asset>
      @let currency = asset.currency;
      @let totalInvestment = asset | portfolioTotalsCalc: 'investment';
      @let totalValue = asset | portfolioTotalsCalc: 'value';
      @let valueDifference = totalValue - totalInvestment;
      @let percentageDifference = valueDifference / totalInvestment | percent;

      <tr>
        <td pFrozenColumn>{{ asset.symbol }}</td>
        <td>{{ asset.type | uppercase }}</td>
        <td>{{ asset.name }}</td>
        <td>
          {{ asset.purchaseDate | date: 'dd-MM-yyyy' }}
        </td>
        <td>{{ asset.quantity }}</td>
        <td>
          {{ asset.purchasePrice | currency: currency | hideValue }}
        </td>
        <td>
          {{ totalInvestment | currency: currency | hideValue }}
        </td>
        <td
          [class.text-green-700]="asset.value > asset.purchasePrice"
          [class.text-red-700]="asset.value < asset.purchasePrice"
          class="font-bold"
        >
          {{ asset.value | currency: currency | hideValue }}
        </td>
        <td
          [class.text-green-700]="totalValue > totalInvestment"
          [class.text-red-700]="totalValue < totalInvestment"
          class="font-bold"
        >
          {{ totalValue | currency: currency | hideValue }}
        </td>
        <td
          [class.text-green-700]="asset.value > asset.purchasePrice"
          [class.text-red-700]="asset.value < asset.purchasePrice"
        >
          {{ valueDifference | currency: currency | hideValue }}
        </td>
        <td
          [class.text-green-700]="asset.value > asset.purchasePrice"
          [class.text-red-700]="asset.value < asset.purchasePrice"
        >
          {{ percentageDifference }}
        </td>
        <td class="actions" pFrozenColumn alignFrozen="right">
          <p-menu #menu appendTo="body" [model]="items" [popup]="true" />
          <p-button
            icon="pi pi-ellipsis-v"
            severity="secondary"
            [rounded]="true"
            [text]="true"
            [outlined]="true"
            (onClick)="onShowMenu($event, menu, asset)"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="6" class="!text-end">Totals</td>
        <td>{{ totalInvestmentSum() | number: '1.2-2' | hideValue }}</td>
        <td></td>
        <td
          [class.!bg-green-400]="totalValueDifferenceSum() > 0"
          [class.!bg-red-400]="totalValueDifferenceSum() < 0"
        >
          {{ totalValueSum() | number: '1.2-2' | hideValue }}
        </td>
        <td
          [class.!bg-green-400]="totalValueDifferenceSum() > 0"
          [class.!bg-red-400]="totalValueDifferenceSum() < 0"
        >
          {{ totalValueDifferenceSum() | number: '1.2-2' | hideValue }}
        </td>
        <td
          [class.!bg-green-400]="totalValueDifferenceSum() > 0"
          [class.!bg-red-400]="totalValueDifferenceSum() < 0"
        >
          {{ totalPercentageDifferenceSum() | percent }}
        </td>
        <td></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">No assets in portfolio</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<sxe-portfolio-details [(openSidebar)]="sidebarVisible" />

<p-confirmDialog />
