<p-drawer
  position="right"
  [style]="{ width: isMobile() ? '25rem' : '45rem' }"
  [dismissible]="false"
  (onHide)="onClose()"
  [(visible)]="openSidebar"
>
  <ng-template pTemplate="header">
    <h2>{{ sidebarTitle() }}</h2>
  </ng-template>

  <form [formGroup]="assetForm">
    <div class="grid grid-cols-12 gap-6">
      <div class="field col-span-12 md:col-span-6">
        <label for="type">Asset Type</label>
        <p-select
          id="type"
          formControlName="type"
          optionValue="id"
          [options]="types"
          (onChange)="onTypeChange($event.value)"
        />
      </div>

      @if (
        assetForm.get('type')?.value === 'commodity' && subTypes.length > 0
      ) {
        <div class="field col-span-12 md:col-span-6">
          <label for="type">Commodity Type</label>
          <p-select
            id="subType"
            formControlName="subType"
            optionValue="id"
            [options]="subTypes"
            (onChange)="onSubTypeChange($event.value)"
          />
        </div>
      }
    </div>

    <h3>Asset Information</h3>

    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 mb-6">
        <sxe-symbol-search
          [disabled]="isSearchDisabled"
          (selected)="onSymbolSelected($event)"
        />
      </div>

      <div class="field col-span-12 md:col-span-3">
        <label for="symbol">Symbol</label>
        <input pInputText id="symbol" formControlName="symbol" class="w-full" />
      </div>

      <div class="field col-span-12 md:col-span-9">
        <label for="name">Name</label>
        <input
          pInputText
          id="name"
          formControlName="name"
          class="w-full"
          (ngModelChange)="onGenerateSymbolFromName($event)"
        />
      </div>

      <div class="field col-span-12 md:col-span-3">
        <label for="currency">Currency</label>
        <input
          pInputText
          id="currency"
          formControlName="currency"
          class="w-full"
        />
      </div>

      <div class="field col-span-12 md:col-span-9">
        <label for="exchangeShortName">Exchange Name</label>
        <input
          pInputText
          id="exchangeShortName"
          formControlName="exchangeShortName"
          class="w-full"
        />
      </div>
    </div>

    <h3>Investment Information</h3>

    @if (!asset()?.symbol) {
      <sxe-ui-purchase-form class="mb-6" [form]="assetForm" />
    }

    <div class="grid grid-cols-12 gap-6">
      <div class="field col-span-12 md:col-span-4">
        <label for="value">Current Price</label>
        <p-inputNumber
          id="value"
          formControlName="value"
          mode="decimal"
          class="w-full"
          [minFractionDigits]="2"
          [maxFractionDigits]="5"
        />
      </div>

      <div class="field col-span-12 md:col-span-6 flex items-center gap-2 mt-6">
        <p-checkbox
          formControlName="manualUpdate"
          inputId="manualUpdate"
          [binary]="true"
          (onChange)="onManualUpdateChange($event.checked)"
        />
        <label for="manualUpdate"> Enable manual value updates? </label>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="flex justify-between flex-wrap">
      <p-button
        icon="pi pi-save"
        [label]="saveBtnText()"
        (onClick)="onSave()"
      />

      <p-button
        severity="secondary"
        icon="pi pi-times"
        [label]="cancelBtnText()"
        (onClick)="onClose()"
      />
    </div>
  </ng-template>
</p-drawer>
