<p-button
  icon="pi pi-upload"
  severity="secondary"
  pTooltip="Import Data"
  tooltipPosition="bottom"
  size="large"
  [rounded]="true"
  [text]="true"
  (onClick)="openDialog.set(true)"
/>

<p-dialog
  header="Import Data"
  [modal]="true"
  [style]="{ width: '25rem' }"
  [(visible)]="openDialog"
  (onHide)="onHideDialog()"
>
  <p-fileUpload
    #fileUpload
    mode="basic"
    chooseLabel="Choose file to import..."
    chooseIcon="pi pi-upload"
    accept=".json"
    maxFileSize="1000000"
    styleClass="w-full bg-surface-200 dark:bg-surface-600 border-surface-300 dark:border-surface-500 text-muted-color"
    (onSelect)="onFileSelect($event)"
  />

  <div class="flex justify-end mt-8 gap-4">
    <p-button
      label="Cancel"
      severity="secondary"
      (onClick)="openDialog.set(false)"
    />
    <p-button
      label="Import"
      (onClick)="onImportData()"
      [disabled]="!importedData()"
    />
  </div>
</p-dialog>
