:host {
  h1 {
    margin-top: 0;

    small {
      display: block;
      font-size: small;
      margin-top: 5px;
    }
  }

  span {
    &:has(span) {
      display: block;
      color: var(--p-primary-color);

      span {
        display: block;
        color: var(--p-text-color);
      }
    }
  }
}
