@if (loading()) {
  <p-progressSpinner
    ariaLabel="loading"
    styleClass="absolute top-50 right-50 w-5rem h-5rem"
    strokeWidth="4"
  />
}

<h1 class="header mb-3 md:mb-5">
  {{ profile()?.name }}

  <small> {{ profile()?.symbol }} </small>
</h1>

<div class="grid">
  @let low = profile()?.regularMarketDayLow ?? 0;
  @let high = profile()?.regularMarketDayHigh ?? 0;
  @let price = profile()?.price ?? 0;
  @let changes = profile()?.changeValue ?? 0;
  @let changePercent = profile()?.changePercent ?? 0;
  @let currency = profile()?.currency ?? 'USD';

  <div class="col-12 md:col-2 mb-4">
    <span
      class="border-round-sm border-1 p-3"
      [class.border-red-700]="changes < 0"
      [class.bg-red-50]="changes < 0"
      [class.border-green-700]="changes > 0"
      [class.bg-green-50]="changes > 0"
    >
      <span
        class="font-bold text-xl"
        [class.text-red-700]="changes < 0"
        [class.text-green-700]="changes > 0"
      >
        {{ price | currency: currency }}
      </span>

      @if (changes) {
        <span
          [class.text-red-700]="changes < 0"
          [class.text-green-700]="changes > 0"
        >
          {{ changes | currency: currency }}
          ({{ changePercent / 100 | percent: '1.2' }})
        </span>
      }
    </span>
  </div>

  <div class="col-6 md:col-2 mb-4">
    <span class="border-round-sm border-1 p-3">
      High

      <span class="font-bold text-xl">
        {{ high | currency: currency }}
      </span>
    </span>
  </div>

  <div class="col-6 md:col-2 mb-4">
    <span class="border-round-sm border-1 p-3">
      Low

      <span class="font-bold text-xl">
        {{ low | currency: currency }}
      </span>
    </span>
  </div>
</div>

<div class="grid">
  <div class="col-6 md:col-3">
    <span>
      Symbol:
      <span>
        {{ profile()?.symbol }}
      </span>
    </span>
  </div>

  <div class="col-6 md:col-3">
    <span>
      Name:
      <span>
        {{ profile()?.name }}
      </span>
    </span>
  </div>

  <div class="col-6 md:col-3">
    <span>
      Exchange:
      <span>
        {{ profile()?.exchangeShortName }}
      </span>
    </span>
  </div>

  <div class="col-6 md:col-3">
    <span>
      Currency:
      <span>
        {{ profile()?.currency }}
      </span>
    </span>
  </div>

  <div class="col-6 md:col-3">
    <span>
      Industry:
      <span>
        {{ profile()?.industry }}
      </span>
    </span>
  </div>

  <div class="col-6 md:col-3">
    <span>
      Sector:
      <span>
        {{ profile()?.sector }}
      </span>
    </span>
  </div>

  <div class="col-6 md:col-3">
    <span>
      Website:
      <span>
        <a href="{{ profile()?.website }}" target="_blank">
          {{ profile()?.website }}
        </a>
      </span>
    </span>
  </div>

  <div class="col-6 md:col-3">
    <span>
      CEO:
      <span>
        {{ profile()?.ceo }}
      </span>
    </span>
  </div>

  <div class="col-6 md:col-3">
    <span>
      Address:
      <span>
        {{ profile()?.address }}
      </span>
    </span>
  </div>

  <div class="col-6 md:col-3">
    <span>
      Employees:
      <span>
        {{ profile()?.fullTimeEmployees }}
      </span>
    </span>
  </div>

  <div class="col-6 md:col-3">
    <span>
      Last Dividend:
      <span>
        {{ profile()?.trailingAnnualDividendRate }} {{ profile()?.currency }}
      </span>
    </span>
  </div>

  <div class="col-6 md:col-3">
    <span>
      Dividend Yield:
      <span> {{ profile()?.dividendYield }} % </span>
    </span>
  </div>

  <div class="col-6 md:col-3">
    <span>
      52-Wk Average:
      <span> {{ profile()?.fiftyDayAverage }} </span>
    </span>
  </div>

  <div class="col-6 md:col-3">
    <span>
      52-Wk Low:
      <span> {{ profile()?.fiftyTwoWeekLow }} </span>
    </span>
  </div>

  <div class="col-6 md:col-3">
    <span>
      52-Wk Low:
      <span> {{ profile()?.fiftyTwoWeekLow }} </span>
    </span>
  </div>
</div>

<div class="grid mt-3">
  <div class="col-12">
    <span>
      About:
      <span>
        {{ profile()?.description }}
      </span>
    </span>
  </div>
</div>
