@if (loading()) {
  <p-progressSpinner ariaLabel="loading" strokeWidth="4" />
}

<h1 class="header mb-6 md:mb-20">
  {{ profile()?.name }}

  <small> {{ profile()?.symbol }} </small>
</h1>

<div class="grid grid-cols-12 gap-4 grid-cols-12 gap-6">
  @let low = profile()?.regularMarketDayLow ?? 0;
  @let high = profile()?.regularMarketDayHigh ?? 0;
  @let price = profile()?.price ?? 0;
  @let changes = profile()?.changeValue ?? 0;
  @let changePercent = profile()?.changePercent ?? 0;
  @let currency = profile()?.currency ?? 'USD';

  <div class="col-span-12 md:col-span-3 mb-12">
    <section
      class="widget widget--small border"
      [class.border-red-400]="changes < 0"
      [class.bg-red-100]="changes < 0"
      [class.border-green-400]="changes > 0"
      [class.bg-green-100]="changes > 0"
    >
      <h5
        [class.!text-red-700]="changes < 0"
        [class.!text-green-700]="changes > 0"
      >
        @if (changes) {
          {{ changes | currency: currency }}
          ({{ changePercent / 100 | percent: '1.2' }})
        }
      </h5>

      <h1
        [class.!text-red-700]="changes < 0"
        [class.!text-green-700]="changes > 0"
      >
        {{ price | currency: currency }}
      </h1>
    </section>
  </div>

  <div class="col-span-6 md:col-span-3 mb-12">
    <section class="widget widget--small border bg-gray-300 border-gray-400">
      <h5>High</h5>

      <h1>
        {{ high | currency: currency }}
      </h1>
    </section>
  </div>

  <div class="col-span-6 md:col-span-3 mb-12">
    <section class="widget widget--small border bg-gray-300 border-gray-400">
      <h5>Low</h5>

      <h1>
        {{ low | currency: currency }}
      </h1>
    </section>
  </div>
</div>

<div class="grid grid-cols-12 gap-4 grid-cols-12 gap-6">
  <div class="col-span-6 md:col-span-3">
    <span>
      Symbol:
      <span>
        {{ profile()?.symbol }}
      </span>
    </span>
  </div>

  <div class="col-span-6 md:col-span-3">
    <span>
      Name:
      <span>
        {{ profile()?.name }}
      </span>
    </span>
  </div>

  <div class="col-span-6 md:col-span-3">
    <span>
      Exchange:
      <span>
        {{ profile()?.exchangeShortName }}
      </span>
    </span>
  </div>

  <div class="col-span-6 md:col-span-3">
    <span>
      Currency:
      <span>
        {{ profile()?.currency }}
      </span>
    </span>
  </div>

  <div class="col-span-6 md:col-span-3">
    <span>
      Industry:
      <span>
        {{ profile()?.industry }}
      </span>
    </span>
  </div>

  <div class="col-span-6 md:col-span-3">
    <span>
      Sector:
      <span>
        {{ profile()?.sector }}
      </span>
    </span>
  </div>

  <div class="col-span-6 md:col-span-3">
    <span>
      Website:
      <span>
        <a href="{{ profile()?.website }}" target="_blank">
          {{ profile()?.website }}
        </a>
      </span>
    </span>
  </div>

  <div class="col-span-6 md:col-span-3">
    <span>
      CEO:
      <span>
        {{ profile()?.ceo }}
      </span>
    </span>
  </div>

  <div class="col-span-6 md:col-span-3">
    <span>
      Address:
      <span>
        {{ profile()?.address }}
      </span>
    </span>
  </div>

  <div class="col-span-6 md:col-span-3">
    <span>
      Employees:
      <span>
        {{ profile()?.fullTimeEmployees }}
      </span>
    </span>
  </div>

  <div class="col-span-6 md:col-span-3">
    <span>
      Last Dividend:
      <span>
        {{ profile()?.trailingAnnualDividendRate }} {{ profile()?.currency }}
      </span>
    </span>
  </div>

  <div class="col-span-6 md:col-span-3">
    <span>
      Dividend Yield:
      <span> {{ profile()?.dividendYield }} % </span>
    </span>
  </div>

  <div class="col-span-6 md:col-span-3">
    <span>
      52-Wk Average:
      <span> {{ profile()?.fiftyDayAverage }} </span>
    </span>
  </div>

  <div class="col-span-6 md:col-span-3">
    <span>
      52-Wk Low:
      <span> {{ profile()?.fiftyTwoWeekLow }} </span>
    </span>
  </div>

  <div class="col-span-6 md:col-span-3">
    <span>
      52-Wk Low:
      <span> {{ profile()?.fiftyTwoWeekLow }} </span>
    </span>
  </div>
</div>

<div class="grid grid-cols-12 gap-4 grid-cols-12 gap-6 mt-6">
  <div class="col-span-12">
    <span>
      About:
      <span>
        {{ profile()?.description }}
      </span>
    </span>
  </div>
</div>
