@if (loading()) {
  <p-progressSpinner ariaLabel="loading" strokeWidth="4" />
}

<div class="dashboard">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-6 md:col-span-3">
      <section class="widget bg-blue-300">
        <h5>Total Investment</h5>
        <h1>
          {{ totalInvestment() | number: '1.2-2' | hideValue }}
        </h1>
      </section>
    </div>
    <div class="col-span-6 md:col-span-3">
      <section
        class="widget"
        [class.bg-green-300]="valueDifference() > 0"
        [class.bg-red-300]="valueDifference() < 0"
      >
        <h5>Total Value</h5>
        <h1>{{ totalValue() | number: '1.2-2' | hideValue }}</h1>
      </section>
    </div>
    <div class="col-span-6 md:col-span-3">
      <section
        class="widget"
        [class.bg-green-300]="valueDifference() > 0"
        [class.bg-red-300]="valueDifference() < 0"
      >
        <h5>Value Difference</h5>
        <h1>
          {{ valueDifference() | number: '1.2-2' | hideValue }}
        </h1>
      </section>
    </div>
    <div class="col-span-6 md:col-span-3">
      <section
        class="widget h-full"
        [class.bg-green-300]="valueDifference() > 0"
        [class.bg-red-300]="valueDifference() < 0"
      >
        <h5>Percentage Difference</h5>
        <h1>{{ percentageDifference() | percent }}</h1>
      </section>
    </div>
  </div>

  <div class="grid grid-cols-12 gap-4 mt-4">
    @for (type of dashboardAssets(); track type.id) {
      @if (type.totalNumberOfAssets()) {
        <div class="col-span-4 md:col-span-3">
          <section class="widget widget--small widget--light">
            <h5 class="overflow-hidden text-ellipsis">
              {{ type.label }}
            </h5>
            <h1>{{ type.totalNumberOfAssets() }}</h1>
          </section>
        </div>
      }
    }
  </div>
</div>

@for (type of dashboardAssets(); track type.id) {
  <sxe-dashboard-asset-data
    [assetType]="type.id"
    [totalInvestment]="type.totalInvestment()"
    [totalValue]="type.totalValue()"
  />
}
