@if (totalInvestment() > 0) {
  @let stockValueDiff = totalValue() - totalInvestment();
  @let stockPercentageDiff = stockValueDiff / totalInvestment() | percent;

  <h3>{{ title() }}</h3>
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-6 md:col-span-3">
      <section class="widget widget--small bg-blue-400">
        <h5>Total Investment</h5>
        <h1>{{ totalInvestment() | number: '1.2-2' | hideValue }}</h1>
      </section>
    </div>
    <div class="col-span-6 md:col-span-3">
      <section
        class="widget widget--small"
        [class.bg-green-500]="stockValueDiff > 0"
        [class.bg-red-500]="stockValueDiff < 0"
      >
        <h5>Total Value</h5>
        <h1>{{ totalValue() | number: '1.2-2' | hideValue }}</h1>
      </section>
    </div>
    <div class="col-span-6 md:col-span-3">
      <section
        class="widget widget--small"
        [class.bg-green-500]="stockValueDiff > 0"
        [class.bg-red-500]="stockValueDiff < 0"
      >
        <h5>Value Difference</h5>
        <h1>{{ stockValueDiff | number: '1.2-2' | hideValue }}</h1>
      </section>
    </div>
    <div class="col-span-6 md:col-span-3">
      <section
        class="widget widget--small"
        [class.bg-green-500]="stockValueDiff > 0"
        [class.bg-red-500]="stockValueDiff < 0"
      >
        <h5>Percentage Difference</h5>
        <h1>{{ stockPercentageDiff }}</h1>
      </section>
    </div>
  </div>
}
